<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agendamento</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <h2 class="my-4">Agendamento</h2>

        <form method="POST">
            <div class="form-group">
                <label for="data">Data</label>
                <input type="text" class="form-control" id="data" name="data" placeholder="Digite a data" required>
            </div>
            <div class="form-group">
                <label for="hora">Hora</label>
                <input type="text" class="form-control" id="hora" name="hora" placeholder="Digite a hora" required>
            </div>
            <button type="submit" class="btn btn-primary">Agendar</button>
        </form>

        <hr>

        <!-- Botão de Logout -->
        <form action="{{ url_for('logout')}}" method="POST" style="display: inline;">
            <button type="submit" class="btn btn-danger mt-3">Sair</button>
        </form>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>